# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
Log-mailer

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# JSON and log files
*.json
*.log
!/configuration_template.json